.MMM-IQAir__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 200px;
  padding: 15px;
  border: 1px solid var(--color-text-dimmed);
  border-radius: 20px;
  color: var(--color-text-bright);
}

.MMM-IQAir__title {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
}

.MMM-IQAir__quality-block {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  margin: 5px 0;
}

.MMM-IQAir__icon {
  padding: 0 5px;
}

.MMM-IQAir__icon svg {
  width: 65px;
  height: 65px;
}

.MMM-IQAir__container:not(.MMM-IQAir__container--colored) .MMM-IQAir__icon *[fill^="#"] {
  fill: var(--color-text-bright);
}

.MMM-IQAir__number {
  padding: 5px;
  margin: 0;
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
}

.MMM-IQAir__location {
  font-size: 20px;
}
